@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-paper: #f6e7d2;
  --color-tint: #211d14;
}

@font-face {
  font-family: "Libre Baskerville Regular";
  src: url("./assets/fonts/LibreBaskerville-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville Italic";
  src: url("./assets/fonts/LibreBaskerville-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Libre Baskerville Bold";
  src: url("./assets/fonts/LibreBaskerville-Bold.ttf");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "SpaceGrotesk Regular";
  src: url("./assets/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk Bold";
  src: url("./assets/fonts/SpaceGrotesk-Bold.ttf");
  font-weight: 400;
  font-style: oblique;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-paper);
    background-image: url("/img/body-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Libre Baskerville Bold", Arial, Helvetica, sans-serif;
  }

  p,
  a,
  ul,
  ol,
  li,
  button {
    font-family: "SpaceGrotesk Regular", Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    cursor: default;
  }

  button:focus,
  button:active,
  button:visited {
    outline: none;
    border: none;
  }

  .text-type {
    display: inline-block;
    white-space: pre-wrap;
  }

  .text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
  }

  .text-type__cursor--hidden {
    display: none;
  }

  .shiny-text {
    color: #b5b5b5a4;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 20%,
      var(--color-paper),
      rgba(255, 255, 255, 0) 40%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .shiny-text.disabled {
    animation: none;
  }
}
